{% extends 'baseTeamplate.html' %}
{% load static %}

{% block content %}
    <h1>Employe List </h1>
    <div class="row">
        <div class="col-xl-5 col-md-6">
            <div class="card-box tilebox-two">
                <i class="fas fa-user float-right text-muted"></i>
                <h6 class="text-success text-uppercase">Total Employees</h6>
                <h3><span data-plugin="counterup">{{ total_emp }}</span></h3>
            </div>
        </div>
        <div class="col-xl-5 col-md-6">
            <div class="card-box tilebox-two">
                <i class="fa fa-shopping-cart float-right text-muted"></i>
                <h6 class="text-success text-uppercase">Total Employee Salary</h6>
                <h3><span data-plugin="counterup">{{ total_salary }}</span></h3>
            </div>
        </div>
        <div class="col-xl-2 col-md-6">
            <div class=" row">
                <a type="button" href="{% url "employee:employee_add" %}"
                   class="btn btn-secondary waves-effect waves-light width-md mt-3 mb-2">Add Employee
                    Stock
                </a>
                {#                                <a type="button" href=""#}
                {#                                   class="btn btn-secondary waves-effect waves-light width-md">Update Medicine</a>#}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="col-lg">
                    <div class="mt-2">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                                   role="tab" aria-controls="home" aria-expanded="true">Employee List</a>
                            </li>
                            {#                            <li class="nav-item">#}
                            {#                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"#}
                            {#                                   role="tab" aria-controls="profile">Egg Sales flow</a>#}
                            {#                            </li>#}
                        </ul>
                        <div class="tab-content text-muted" id="myTabContent">
                            <div role="tabpanel" class="tab-pane fade in active show" id="home"
                                 aria-labelledby="home-tab">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Salary</th>
                                            <th>Joining Date</th>
                                            <th>Numuber</th>
                                            <th>CNIC</th>
                                            <th>Action</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for emp in TMO %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ emp.emp_name }}</td>
                                                <td>{{ emp.emp_salary }}</td>
                                                <td>{{ emp.emp_joining_date.date }}</td>
                                                <td>{{ emp.emp_num }}</td>
                                                <td>{{ emp.emp_cnic }}</td>

                                                <td>
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <a type="button" class="btn btn" style="background: #F79824;"
                                                           href="{% url "employee:employee_update" emp.id %} ">Update</a>
                                                        <a type="button" class="btn " style="background: #981D20;"
                                                           href="{% url "employee:employee_delete" emp.id %}">Delete</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Quantity</th>
                                            <th>Date</th>
                                            <th>Amount Paid</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for outgoing in all_outgoings %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ outgoing.quantity }}</td>
                                                <td>{{ outgoing.date.date }}</td>
                                                <td>{{ outgoing.rate }}</td>
                                                <td>
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <a type="button" class="btn btn-info"
                                                           href="{% url 'update-outgoing-egg-record' outgoing.id %}">Update</a>
                                                        <a type="button" class="btn btn-danger"
                                                           href="{% url 'delete-outgoing-egg-record' outgoing.id %}">Delete</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end card-box -->
        </div> <!-- end col -->
    </div>




{% endblock %}