{% extends 'baseTeamplate.html' %}
{% load static %}


<h1>Feed Details</h1>



{% block content %}

    <!-- Start Content-->
    <div class="container-fluid">

        <h2>Add Feed S16 Outgoing</h2>


        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-xl-6">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Feed Quantity</label>
                                    <input type="text" class="form-control" name="feeds16-out-quantity"
                                           placeholder="Please Enter Feed Quantity" required>
                                    {#                                    <small class="text-muted">Customer Name</small>#}
                                </div>

                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label>Feed Date</label>
                                    <input type="datetime-local" class="form-control" name="feeds16-out-date">
                                </div>
                            </div><!-- end col -->
                        </div><!-- end row -->
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </form>
                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->


    </div> <!-- end container-fluid -->


{% endblock %}