{% extends 'baseTeamplate.html' %}
{% load static %}

{% block content %}
    <h1>Eggs</h1>
    <div class="row">
        <div class="col-xl-5 col-md-6">
            <div class="card-box tilebox-two">
                <i class="fa fa-egg float-right text-muted"></i>
                <h6 class="text-success text-uppercase">Eggs Instock</h6>
                <h3><span data-plugin="counterup">{{ instock_eggs }}</span></h3>
            </div>
        </div>
        <div class="col-xl-5 col-md-6">
            <div class="card-box tilebox-two">
                <i class="icon-rocket float-right text-muted"></i>
                <h6 class="text-success text-uppercase">Eggs Sold</h6>
                <h3><span data-plugin="counterup">{{ outgoing_quantity }}</span></h3>
            </div>
        </div>
        <div class="col-xl-2 col-md-6">
            <div class=" row">
                <a type="button" href="{% url 'eggs:add_incoming_eggs' %}"
                   class="btn btn-secondary waves-effect waves-light width-md mt-3 mb-2">Add Eggs
                    Stock
                </a>
                <a type="button" href="{% url 'eggs:add_outgoing_eggs' %}"
                   class="btn btn-secondary waves-effect waves-light width-md">Add Out Going</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="col-lg">
                    <div class="mt-2">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                                   role="tab" aria-controls="home" aria-expanded="true">In Stock Record</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                                   role="tab" aria-controls="profile">Egg Sales flow</a>
                            </li>
                        </ul>
                        <div class="tab-content text-muted" id="myTabContent">
                            <div role="tabpanel" class="tab-pane fade in active show" id="home"
                                 aria-labelledby="home-tab">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Quantity</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for incoming in all_incomings %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ incoming.quantity }}</td>
                                                <td>{{ incoming.date.date }}</td>
                                                <td>
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <a type="button" class="btn " style="background-color: #F79824"
                                                           href="{% url 'eggs:update_incoming_stock' incoming.id %}">Update</a>
                                                        <a type="button" class="btn " style="background-color: #981D20"
                                                           href="{% url 'eggs:delete_incoming_stock' incoming.id %}">Delete</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Quantity</th>
                                            <th>Date</th>
                                            <th>Amount Paid</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for outgoing in all_outgoings %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ outgoing.quantity }}</td>
                                                <td>{{ outgoing.date.date }}</td>
                                                <td>{{ outgoing.rate }}</td>
                                                <td>
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <a type="button" class="btn btn-info"
                                                           href="{% url 'eggs:update_outgoing_stock' outgoing.id %}">Update</a>
                                                        <a type="button" class="btn btn-danger"
                                                           href="{% url 'eggs:delete_outgoing_stock' outgoing.id %}">Delete</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end card-box -->
        </div> <!-- end col -->
    </div>




{% endblock %}